<div class="formulario-dados p-3">
  <div class="col-12 ">
    <div class="row m-0 input-group">

      <h3 class="title">Perfil</h3>
      <div class="w-100 linha"></div>
      <div class="col-7">
        <p class="">Razão Social/Nome do Dono*</p>
        <input class="w-100 form-control" type="text" placeholder="">
      </div>
      <div class="col-5">
        <p class="">Nome Barbearia*</p>
        <input class="w-100 form-control" type="text">
      </div>
      <div class="col-2">
        <p>Tipo pessoa*</p>
        <select class="w-100 form-select" name="" id="">
          <option value="1">Open this select menu</option>
        </select>
      </div>
      <div class="col-5">
        <p>CPF/CNPJ**</p>
        <input class="w-100 form-control" type="text">
      </div>

    </div>
  </div>

  <div class="col-12 ">
    <div class="row m-0 input-group">

      <h3 class="title">Contato</h3>
      <div class="w-100 linha"></div>
      <div class="col-6">
        <p class="">E-mail*</p>
        <input class="w-100 form-control" type="text" placeholder="">
      </div>
      <div class="col-3">
        <p class="">Celular*</p>
        <input class="w-100 form-control" type="text">
      </div>
      <div class="col-3">
        <p>Telefone</p>
        <input class="w-100 form-control" type="text">
      </div>

    </div>
  </div>

  <div class="col-12 ">
    <div class="row m-0 input-group">

      <h3 class="title">Endereço</h3>
      <div class="w-100 linha"></div>
      <div class="col-3">
        <p class="">CEP*</p>
        <input class="w-100 form-control" type="text" placeholder="">
      </div>
      <div class="col-9">
        <p class="">Endereço*</p>
        <input class="w-100 form-control" type="text">
      </div>
      <div class="col-2">
        <p class="">Nº*</p>
        <input class="w-100 form-control" type="text">
      </div>
      <div class="col-5">
        <p class="">Bairro*</p>
        <input class="w-100 form-control" type="text">
      </div>
      <div class="col-5">
        <p class="">Cidade*</p>
        <input class="w-100 form-control" type="text">
      </div>
      <div class="col-2">
        <p class="">UF*</p>
        <input class="w-100 form-control" type="text">
      </div>
      <div class="col-10">
        <p class="">Complemento/Referência</p>
        <input class="w-100 form-control" type="text">
      </div>
    </div>
  </div>

  <div class="col-12 ">
    <div class="row m-0 input-group">

      <h3 class="title ">Logo</h3>
      <div class="w-100 linha"></div>

      <div class="col-4 mt-5 text-center borda">
        <img class="w-100" src={{img}} class="img" alt="">
      </div>
      <div class="col-8">
        <p class="">Url da imagem</p>
        <input class="w-100 form-control" type="text">
      </div>
      <div class="col-12 p-0">
        <div class="row m-0 text-end justify-content-md-end">
          <button class="col-2 btn me-2  btn-warning-2">Cancelar</button>
          <button class="col-2 btn btn-warning">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
