.vh-min-100 {
  min-height: calc(100vh - 96px);
}

.header-black {
  background-color: #363636;
  height: 80px;
  width: 100%;
}

.header-yellow {
  background-color: #ffde45;
  height: 16px;
  width: 100%;
}
