<main class="container-xxl bg-gray p-0 h-100">
  <div class="row m-0">
    <div class="col-3 col-xl-2 min-h-100 menu p-0">
      <div class="row m-0 ">
        <div class="col-12 p-0 header-menu">
          <img src={{barbearia.hx_logo}} alt="">
          <p>{{barbearia.ds_nome}}</p>
        </div>

        <div class="col-md-12 p-0 menu-links">
          <a routerLink="dashboard">DASHBOARD</a>
          <a routerLink="agenda">HORÁRIOS</a>
          <a routerLink="agendamento">AGENDAMENTOS</a>
          <a routerLink="perfil">PERFIL</a>
          <a class="hover-button" (click)="sair()">SAIR</a>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-xl-10 h-100 p-5 bg-light">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
