<div class="agendamento w-100 row m-0 ">

  <div class="w-100 title row m-0 ">
    <div class="col-12 py-md-4 px-md-3 ">
      <h2 class="titlee col-5">Agenda</h2>
    </div>
    <div class="col-12 p-0 pt-4">
      <div class="row m-0">

        <div class="col-12 p-0">
          <div class="row m-0">
            <div class="col-12">
              <p class="subtitle">Horário</p>
            </div>
            <div class="col-2 pt-2">
              <input type="text" class="form-control w-100" placeholder="07:00">
            </div>
            <div class="col-1">
              <p class="subtitle text-center">Até</p>
            </div>
            <div class="col-2 ">
              <input type="text" class="form-control w-100" placeholder="08:00">
            </div>
          </div>
        </div>

        <div class="col-8 p-0 pt-4">
          <div class="row m-0">
            <div class="col-12">
              <p class="subtitle">Dias da semana</p>
            </div>
            <div class="col-12 p-0 pt-4">
              <div class="row m-0 ">
                <div class="radio col-4">
                  <input class="" type="checkbox" value="">
                  <label>Domingo</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="">
                  <label>Segunda</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="">
                  <label>Terça</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="">
                  <label>Quarta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="">
                  <label>Quinta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="">
                  <label>Sexta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="">
                  <label>Sábado</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 p-0 pt-5">
          <div class="row m-0 justify-content-end">
            <button class="btn btn-warning-2 col-3 me-2">Cancelar</button>
            <button class="btn btn-warning col-3">Salvar</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
