<div class="agendamento w-100 row m-0 ">

  <div class="w-100 title row m-0 ">
    <div class="col-12 py-md-4 px-md-3 ">
      <h2 class="titlee col-5">Agenda</h2>
    </div>
    <div class="col-12 p-0 pt-4">
      <div class="row m-0">

        <div class="col-12 p-0" *ngIf="alteraOuCria == false">
          <div class="row m-0">
            <div class="col-12">
              <p class="subtitle">Horário</p>
            </div>

            <div class="col-2 pt-2">
              <input type="text" [(ngModel)]="horario.hr_inicio" name={{horario.hr_inicio}} class="form-control w-100"
                placeholder="07:00">
            </div>
            <div class="col-1 pt-2">
              <p class="subtitle text-center">Até</p>
            </div>
            <div class="col-2 pt-2">
              <input type="text" [(ngModel)]="horario.hr_fim" name={{horario.hr_fim}} class="form-control w-100"
                placeholder="08:00">
            </div>

          </div>
        </div>

        <div class="col-8 p-0 pt-4" *ngIf="alteraOuCria == false">
          <div class="row m-0">
            <div class="col-12">
              <p class="subtitle">Dias da semana</p>
            </div>
            <div class="col-12 p-0 pt-4">
              <div class="row m-0 ">
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_domingo == 1"
                    (change)="alteraDom(horario.tg_domingo)">
                  <label>Domingo</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_segunda == 1"
                    (change)="alteraSeg(horario.tg_segunda)">
                  <label>Segunda</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_terca == 1"
                    (change)="alteraTer(horario.tg_terca)">
                  <label>Terça</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_quarta == 1"
                    (change)="alteraQua(horario.tg_quarta)">
                  <label>Quarta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_quinta == 1"
                    (change)="alteraQui(horario.tg_quinta)">
                  <label>Quinta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_sexta == 1"
                    (change)="alteraSex(horario.tg_sexta)">
                  <label>Sexta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_sabado == 1"
                    (change)="alteraSab(horario.tg_sabado)">
                  <label>Sábado</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 p-0" *ngIf="alteraOuCria == true">
          <div class="row m-0">
            <div class="col-12">
              <p class="subtitle">Horário</p>
            </div>

            <div class="col-2 pt-2">
              <input type="text" [(ngModel)]="horario2.hr_inicio" name={{horario2.hr_inicio}} class="form-control w-100"
                placeholder="07:00">
            </div>
            <div class="col-1 pt-2">
              <p class="subtitle text-center">Até</p>
            </div>
            <div class="col-2 pt-2">
              <input type="text" [(ngModel)]="horario2.hr_fim" name={{horario2.hr_fim}} class="form-control w-100"
                placeholder="08:00">
            </div>

          </div>
        </div>

        <div class="col-8 p-0 pt-4" *ngIf="alteraOuCria == true">
          <div class="row m-0">
            <div class="col-12">
              <p class="subtitle">Dias da semana</p>
            </div>
            <div class="col-12 p-0 pt-4">
              <div class="row m-0 ">
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario2.tg_domingo == 1"
                    (change)="alteraDom(horario2.tg_domingo)">
                  <label>Domingo</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario2.tg_segunda == 1"
                    (change)="alteraSeg(horahorario2rio.tg_segunda)">
                  <label>Segunda</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario2.tg_terca == 1"
                    (change)="alteraTer(horario2.tg_terca)">
                  <label>Terça</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario2.tg_quarta == 1"
                    (change)="alteraQua(horario2.tg_quarta)">
                  <label>Quarta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario2.tg_quinta == 1"
                    (change)="alteraQui(horario2.tg_quinta)">
                  <label>Quinta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario2.tg_sexta == 1"
                    (change)="alteraSex(horario2.tg_sexta)">
                  <label>Sexta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario2.tg_sabado == 1"
                    (change)="alteraSab(horario2.tg_sabado)">
                  <label>Sábado</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 p-0 pt-5">
          <div class="row m-0 justify-content-end">
            <button class="btn btn-warning-2 col-3 me-2" (click)="voltar()">Cancelar</button>
            <button *ngIf="!alteraOuCria" class="btn btn-warning col-3 " (click)="cria()">Cria</button>
            <button *ngIf="alteraOuCria" class="btn btn-warning col-3" (click)="cria()">Salvar</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
