<div class="agendamento w-100 row m-0 ">

  <div class="w-100 title row m-0 ">
    <div class="col-12 py-md-4 px-md-3 ">
      <h2 class="titlee col-5">Agenda</h2>
    </div>
    <div class="col-8 col-xl-7 p-0 pt-4 card">
      <div class="row m-0">

        <div class="col-12 p-0" *ngIf="alteraOuCria == false">
          <div class="row m-0">
            <div class="col-12">
              <p class="subtitle">Horário</p>
            </div>

            <div class="col-4 col-xl-3 pt-2">
              <input type="text" ng-pattern="^([0|1|2]{1}\d):([0|1|2|3|4|5]{1} \d)$" [(ngModel)]="horario.hr_inicio"
                name={{horario.hr_inicio}} class="form-control w-100" placeholder="07:00">
            </div>
            <div class="col-2 col-xl-2 pt-3">
              <p class="subtitle m-0 text-center">Até</p>
            </div>
            <div class="col-4 col-xl-3 pt-2">
              <input type="text" ng-pattern="^([0|1|2]{1}\d):([0|1|2|3|4|5]{1} \d)$" [(ngModel)]="horario.hr_fim"
                name={{horario.hr_fim}} class="form-control w-100" placeholder="08:00">
            </div>

          </div>
        </div>

        <div class="col-8 p-0 pt-4" *ngIf="alteraOuCria == false">
          <div class="row m-0">
            <div class="col-8">
              <p class="subtitle">Dias da semana</p>
            </div>
            <div class="col-11 col-xl-10 p-0 pt-4">
              <div class="row m-0 ">
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_domingo == 1"
                    (change)="alteraDom(horario.tg_domingo)">
                  <label>Domingo</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_segunda == 1"
                    (change)="alteraSeg(horario.tg_segunda)">
                  <label>Segunda</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_terca == 1"
                    (change)="alteraTer(horario.tg_terca)">
                  <label>Terça</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_quarta == 1"
                    (change)="alteraQua(horario.tg_quarta)">
                  <label>Quarta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_quinta == 1"
                    (change)="alteraQui(horario.tg_quinta)">
                  <label>Quinta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_sexta == 1"
                    (change)="alteraSex(horario.tg_sexta)">
                  <label>Sexta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="horario.tg_sabado == 1"
                    (change)="alteraSab(horario.tg_sabado)">
                  <label>Sábado</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 p-0" *ngIf="alteraOuCria == true">
          <div class="row m-0">
            <div class="col-12">
              <p class="subtitle">Horário</p>
            </div>

            <div class="col-3 col-xl-3 pt-2">
              <input type="text" ng-pattern="^([0|1|2]{1}\d):([0|1|2|3|4|5]{1} \d)$" [(ngModel)]="horaInicio"
                name={{horario2.hr_inicio}} class="form-control w-100" placeholder="07:00">
            </div>
            <div class="col-2 col-xl-2 pt-3">
              <p class="subtitle text-center">Até</p>
            </div>
            <div class="col-3 col-xl-3 pt-2">
              <input type="text" ng-pattern="^([0|1|2]{1}\d):([0|1|2|3|4|5]{1} \d)$" [(ngModel)]="horaFim"
                name={{horario2.hr_fim}} class="form-control w-100" placeholder="08:00">
            </div>

          </div>
        </div>

        <div class="col-8 p-0 pt-4" *ngIf="alteraOuCria == true">
          <div class="row m-0">
            <div class="col-8">
              <p class="subtitle">Dias da semana</p>
            </div>
            <div class="col-11 col-xl-10 p-0 pt-4">
              <div class="row m-0 ">
                <div class="radio col-4">
                  <input matInput class="" type="checkbox" value="" [checked]="tg_domingo == 1"
                    (change)="alteraDom(tg_domingo)">
                  <label>Domingo</label>
                </div>
                <div class="radio col-4">
                  <input matInput class="" type="checkbox" value="" [checked]="tg_segunda == 1"
                    (change)="alteraSeg(tg_segunda)">
                  <label>Segunda</label>
                </div>
                <div class="radio col-4">
                  <input matInput class="" type="checkbox" value="" [checked]="tg_terca == 1"
                    (change)="alteraTer(tg_terca)">
                  <label>Terça</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="tg_quarta == 1" (change)="alteraQua(tg_quarta)">
                  <label>Quarta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="tg_quinta == 1" (change)="alteraQui(tg_quinta)">
                  <label>Quinta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="tg_sexta == 1" (change)="alteraSex(tg_sexta)">
                  <label>Sexta</label>
                </div>
                <div class="radio col-4">
                  <input class="" type="checkbox" value="" [checked]="tg_sabado == 1" (change)="alteraSab(tg_sabado)">
                  <label>Sábado</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 p-0 pt-5 pb-2 p-1">
          <div class="row m-0 justify-content-center">
            <button class="btn btn-warning-2 col-3 me-2" (click)="voltar()">Cancelar</button>
            <button *ngIf="!alteraOuCria" class="btn btn-warning col-3 " (click)="cria()">Cria</button>
            <button *ngIf="alteraOuCria" class="btn btn-warning col-3" (click)="cria()">Salvar</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
