<div class="agendamento w-100 row m-0 ">

  <div class="w-100 title row m-0 ">
    <div class="col-12 py-md-4 px-md-3">
      <h2 class="titlee">Agendamento</h2>
    </div>
    <div class="col-12 p-0 px-md-3">
      <div class="row m-0">

        <div class="col-8 p-0">
          <div class="row m-0">
            <div class="col-4 ">
              <input type="date" [(ngModel)]="data" name={{data}} (change)="retornaDia()" class="form-control w-100">
            </div>
            <div class="col-4 ">
              <input type="text" class="form-control w-100" disabled name={{diaSemana}} [(ngModel)]="diaSemana">
            </div>
            <div class="col-4 ">
              <button class="btn btn-warning">Consultar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tabela w-100 row m-0 pt-5 pb-0">
    <div class="col-12 ">
      <div class="row m-0 tab-title ">
        <p class="col-4 ">Horário</p>
        <p class="col-4 ">Cliente</p>
        <p class="col-4 text-end">Cliente</p>
      </div>
    </div>
    <div class="col-12">
      <!-- ng-for dados lista-->
      <div class="row m-0 mt-3 linha px-1 py-3" *ngFor="let ag of agendamento">
        <p class="col-4 table-title">{{ag.hr_inicio}} - {{ag.hr_fim}}</p>
        <p class="col-6 table-title-2 ">{{ag.ds_cliente}}</p>
        <button class="col-2 table-title-2 text-end" (click)="preenche()"><i
            class="fa-solid fa-pencil p-1 color"></i></button>
      </div>
    </div>
  </div>

</div>
