<div class="agendamento w-100 row m-0 ">

  <div class="w-100 title row m-0 ">
    <div class="col-12 py-md-4 px-md-3 ">
      <div class="row m-0 justify-content-between">
        <h2 class="titlee col-5">Agendamento</h2>
        <button class="col-2 btn btn-warning">Adicionar</button>
      </div>
    </div>
  </div>

  <div class="tabela w-100 row m-0 pt-5 pb-0">
    <div class="col-12 ">
      <div class="row m-0 tab-title ">
        <p class="col-4 ">Horário</p>
        <p class="col-4 ">Cliente</p>
        <p class="col-4 text-end">Cliente</p>
      </div>
    </div>
    <div class="col-12">
      <!-- ng-for dados lista-->
      <div class="row m-0 mt-3 linha active px-1 py-3">
        <p class="col-4 table-title align-items-center">09:00 - 10:00</p>
        <p class="col-6 table-title-2">Guilherme Cadastro</p>
        <button class="col-2 table-title-2 text-end"><i class="fa-solid fa-ellipsis-vertical"></i></button>
      </div>
    </div>
  </div>

</div>
