<div class="agendamento w-100 row m-0 ">

  <div class="w-100 title row m-0 ">
    <div class="col-12 py-md-4 px-md-3 ">
      <div class="row m-0 justify-content-between">
        <h2 class="titlee col-5">Horários</h2>
        <button class="col-2 btn btn-warning" (click)="adicionar()">Adicionar</button>
      </div>
    </div>
  </div>

  <div class="tabela w-100 row m-0 pt-5 pb-0">
    <div class="col-12 ">
      <div class="row m-0 tab-title ">
        <p class="col-4 ">Horário</p>
        <p class="col-4 ">Dias da semana</p>
        <p class="col-4 text-end">Ações</p>
      </div>
    </div>
    <div class="col-12">
      <!-- ng-for dados lista-->
      <div class="row m-0 mt-3 linha active px-1 py-3" *ngFor="let h of horarios">
        <p class="col-4 table-title align-items-center">{{h.hr_inicio }} - {{h.hr_fim}}</p>
        <p class="col-6 table-title-2">
          <span [ngClass]="{'text':!h.tg_domingo}">D</span><span [ngClass]="{'text':!h.tg_segunda}">S</span>
          <span [ngClass]="{'text':!h.tg_terca}">T</span><span [ngClass]="{'text':!h.tg_quarta}">Q</span><span
            [ngClass]="{'text':!h.tg_quinta}">Q</span><span [ngClass]="{'text':!h.tg_sexta}">S</span><span
            [ngClass]="{'text':!h.tg_sabado}">S</span>
        </p>
        <div class="col-2">
          <div class="row m-0">

            <button class="col-6 table-title-2 text-end"><i class="fa-solid fa-trash p-1 color"
                (click)="excluir(h)"></i></button>
            <button class="col-6 table-title-2 text-end "><i class="fa-solid fa-pencil p-1 color"
                (click)="editar(h)"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
