.agendamento {

  p {
    margin: 0;
  }

  .titlee {
    color: var(--yellow);
    font-size: 2.5rem !important;
    display: inline;
  }

  .subtitle {
    color: var(--yellow);
    font-size: 1.3rem;
    font-weight: 600;
  }


  .form-control {
    display: inline;
    max-width: 100%;
  }

  .active {
    background-color: var(--light-yellow);
  }

  .text {
    color: var(--yellow) !important;
  }

  .tabela {
    span {
      padding: 0 0.3rem 0 0;
      font-weight: 700;
    }

    .color:hover {
      color: var(--yellow);
      font-size: 1rem;
      transition: 0.5s;
    }

    .tab-title {
      p {
        display: inline;
        font-size: 1.1rem;
        color: var(--yellow);
        font-weight: 500;
      }
    }

    .linha {
      border: solid 1px var(--yellow);
      border-radius: 0.5rem;
      background-color: #fff;

      p {
        font-size: 1rem;
        font-weight: 500;
      }

      button {
        background: none;
        border: none;
      }
    }

  }

}
