<div class="w-100 dashboard row m-0 ">
  <div class="col-12 py-md-4 px-md-3">
    <h2 class="titlee">DASHBOARD</h2>
  </div>
  <div class="col-12 p-0 px-md-3 text-end">
    <p class="atualization">Atualizado em  {{ data | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
  </div>
  <div class="col-12 p-0 px-md-3 py-4 pb-3">
    <p class="subtitle">Estátisticas</p>
  </div>



  <div class="row mb-2">
      <div class="col-4">
            <div class="card" style="height: 10rem;">
                <div class="card-body">
                    <div class="col-12 text-center">
                      <p class="title">Agendamentos Pendentes</p>
                    </div>
                    <div class="col-12 text-center py-1">
                      <p class="card-subtitle number mt-4">{{ qtdPendentes }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="height: 10rem;">
                <div class="card-body">
                  <div class="col-12 text-center py-1">
                    <p class="title">Agendamentos diario</p>
                  </div>
                  <div class="col-12 text-center py-1">
                    <p class="number  mt-4">{{ qtdDiarios }}</p>
                  </div>
                  <div class="col-12 text-center py-1">
                    <p class="data  mt-3">{{ data | date: 'dd/MM/yyyy' }}</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="height: 10rem;">
                <div class="card-body">
                  <div class="col-12 text-center py-1">
                    <p class="title">Agendamentos mensal</p>
                  </div>
                  <div class="col-12 text-center py-1">
                    <p class="number mt-4">{{ qtdMes }}</p>
                  </div>
                  <div class="col-12">
                    <p class="data text-center py-1 mt-3">Ref: {{ data | date: 'MM/yyyy' }} </p>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
