<div class="w-100 dashboard row m-0 ">
  <div class="col-12 py-md-4 px-md-3">
    <h2 class="titlee">DASHBOARD</h2>
  </div>
  <div class="col-12 p-0 px-md-3 text-end">
    <p class="atualization">Atualizado em 27/03/2020 10:00</p>
  </div>
  <div class="col-12 p-0 px-md-3 py-4 pb-5">
    <p class="subtitle">Próximos agendamentos do dia</p>
  </div>

  <div class="col-12 p-0 px-md-3 carrossel ">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner d-flex justify-content-around">

        <div class="carousel-item active">
          <div class="row m-0">
            <div class="col-5 kard p-0">
              <div class="row m-0">
                <div class="col-12 text-center">
                  <p class="title">27/02/2022 15:00</p>
                </div>
                <div class="col-12 te xt-center">
                  <p class="number">Gustavo de Azevedo</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row m-0">
            <div class="col-5 kard p-0">
              <div class="row m-0">
                <div class="col-12 text-center">
                  <p class="title">27/02/2022 15:00</p>
                </div>
                <div class="col-12 text-center">
                  <p class="number">Guilherme Castro</p>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>

      <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon previous" aria-hidden="true"></span>
        <span class="visually-hidden previous">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon next" aria-hidden="true"></span>
        <span class="visually-hidden next">Next</span>
      </button>
    </div>
  </div>

  <div class="col-12 p-0 pt-5">
    <div class="row justify-content-around m-0 kards">

      <div class="col-3 kard p-0">
        <div class="row m-0">
          <div class="col-12 text-center">
            <p class="title">Agendamentos Pendentes</p>
          </div>
          <div class="col-12 text-center">
            <p class="number">2</p>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-warning">Verificar</button>
          </div>
        </div>
      </div>

      <div class="col-3 kard p-0">
        <div class="row m-0">
          <div class="col-12 text-center">
            <p class="title">Agendamentos pendentes</p>
          </div>
          <div class="col-12 text-center">
            <p class="number">2</p>
          </div>
          <div class="col-12 text-center">
            <p class="data">27/02/2022</p>
          </div>
        </div>
      </div>

      <div class="col-3 kard p-0">
        <div class="row m-0">
          <div class="col-12 text-center">
            <p class="title">Agendamentos pendentes</p>
          </div>
          <div class="col-12 text-center">
            <p class="number">8</p>
          </div>
          <div class="col-12">
            <p class="data text-center">Ref: 27/02 à 05/03</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
