<div class="w-100 dashboard row m-0 ">
  <div class="col-12 py-md-4 px-md-3">
    <h2 class="titlee">DASHBOARD</h2>
  </div>
  <div class="col-12 p-0 px-md-3 text-end">
    <p class="atualization">Atualizado em  {{ data | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
  </div>
  <div class="col-12 p-0 px-md-3 py-4 pb-3">
    <p class="subtitle">Próximos agendamentos do dia</p>
  </div>

  <div class="row mb-2">
    <div class="col-sm-6">
        <div class="card" style=" height: 12rem;">
            <div class="card-body">
              <div class="col-12 text-center">
                <h3 class="card-title title-principal h5 mt-5">SÁB, 27/02 às 16:00</h3>
              </div>
              <div class="col-12 text-center py-1">
                <h3 class="card-title nome-card h5">Gustavo Azevedo</h3>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style=" height: 12rem;">
            <div class="card-body">
              <div class="col-12 text-center">
                <h3 class="card-title title-principal h5 mt-5">SÁB, 27/02 às 16:00</h3>
              </div>
              <div class="col-12 text-center py-1">
                <h3 class="card-title nome-card h5">Guilherme Castro</h3>
              </div>
            </div>
        </div>
    </div>
</div>

  <div class="row mb-2">
      <div class="col-4">
            <div class="card" style="height: 10rem;">
                <div class="card-body">
                    <div class="col-12 text-center">
                      <p class="title">Agendamentos Pendentes</p>
                    </div>
                    <div class="col-12 text-center py-1">
                      <p class="card-subtitle number mt-4">2</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="height: 10rem;">
                <div class="card-body">
                  <div class="col-12 text-center py-1">
                    <p class="title">Agendamentos diario</p>
                  </div>
                  <div class="col-12 text-center py-1">
                    <p class="number  mt-4">2</p>
                  </div>
                  <div class="col-12 text-center py-1">
                    <p class="data  mt-3">27/02/2022</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="height: 10rem;">
                <div class="card-body">
                  <div class="col-12 text-center py-1">
                    <p class="title">Agendamentos mensal</p>
                  </div>
                  <div class="col-12 text-center py-1">
                    <p class="number mt-4">8</p>
                  </div>
                  <div class="col-12">
                    <p class="data text-center py-1 mt-3">Ref: 01/2022 </p>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
